/* scrollbar */
@import 'simplebar-react/dist/simplebar.min.css';

.first-div {
    display: flex;
    justify-content: center;
}
.input-image-upload {
    display: none;
}
#button-image-upload {
    position: relative;
    background-color: transparent !important;
    padding: 8px !important;
    transition: 0s !important;
    box-shadow: none !important;
    border: 1px dashed rgba(145, 158, 171, 0.2);
    border-radius: 50%;
}
#button-image-upload:hover  .upload-image-hover {
    opacity: 0.72 !important;
}
.upload-image-hover {
    position: absolute;
    z-index: 15;
    background-color: black;
    color: white;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(22, 28, 36, 0.64);
    transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 0;
}

.upload-image-hover-span {
    font-weight: 400;
    line-height: 1.5;
    font-size: 0.75rem;
}